<div class="menu-game__container">
  <div class="menu-game__video">
    <video autoplay loop muted class="game__video">
      <source src="https://user-images.githubusercontent.com/63432907/212441305-f2696e87-bc73-4453-be4a-568962b2ebcb.mp4" type="video/mp4">
    </video>
  </div>

  <div class="menu-game__name">
    <img src="https://cdn1.epicgames.com/offer/50118b7f954e450f8823df1614b24e80/EGS_FallGuys_Mediatonic_IC1_400x400-87f5f19c4955718799dd4f5724889c9d?h=270&resize=1&w=480" alt="">

    <h1> Fall Guys </h1>
    <p> Jogue no PC Game Pass ou Ultimate</p>
  </div>
</div>
