.big-card__container {
  width: 49%;
  height: 920px;
  margin: 2px;
}

.big-card__image img {
  position: absolute;
  width: 49%;
  height: 920px;
  object-fit: cover;
  object-position: top;
}

.big-card__name {

}
