<div class="small-card__container">
  <div class="small-card__title">
    <h1> Descubra seu proximo jogo favorito </h1>
    <p> Jogue centenas de jogos de alta qualidade com amigos no console, no PC, em telefones e em tablets. </p>

    <a href="#"> Comece a jogar agora mesmo <i class="fa-sharp fa-solid fa-angle-right"></i></a>
  </div>

  <div class="small-card__image">
    <img
      src="https://assets.xboxservices.com/assets/4d/99/4d9918f2-950d-4d90-83c3-e6e9bc429e35.jpg?n=XGP-2022_Small-tout-1084_08-11-22_475x534.jpg"
      alt=""
    >
  </div>
</div>
