<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <a href="/">
      <img src="../../../assets/images/xbox-logo.png">
    </a>
  </div>

<div class="menu-bar__links">
  <ul>
    <li> <a href="#"> Game Pass </a></li>
    <li> <a href="#"> Jogos </a></li>
    <li> <a href="#"> Dispositivos </a></li>
    <li> <a href="#"> Suporte </a></li>
    <li> <a href="#"> Meu Xbox </a></li>
    <li> <a href="#"> Dispositivos </a></li>
  </ul>
</div>

<div class="menu-bar__conta">
  <a href="#"> Carrinho </a> <i class="fa-solid fa-cart-shopping"></i>
  <a href="#"> Entrar  </a> <i class="fa-sharp fa-solid fa-user"></i>
</div>
</div>
