/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

	font-family: 'Poppins', Arial;
}

body {
  background-color:#FFFFFF;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */

  * {
    scrollbar-width: auto;
    scrollbar-color: #2f840b #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2f840b;
    border-radius: 0px;
    border: 2px none #000000;
  }
