.small-card__container {
  display: flex;
  flex-direction: row-reverse;
  width: 99.5%;
  height: 460px;
  background-color: #107c10;
  margin: 2px;
  overflow: hidden;
}


/* ---------IMAGE---------  */
.small-card__image {
  display: flex;
  width: 50%;
  overflow: hidden;
}

.small-card__image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform .3s ease-in-out;
}

.small-card__image img:hover {
  transform: scale(1.05);
}


/* ---------TITLE---------  */
.small-card__title {
  color: #FFFFFF;

  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.small-card__title h1, p {
  margin-bottom: 25px;
}

.small-card__title a {
  text-decoration: none;
  font-weight: 600;
  color: #FFFFFF;
}

.small-card__title a:hover {
  color: #9bf00b;
  width: 265px;
  border-bottom: 2px solid #9bf00b;
  transition: .09s;
}
