<app-menu-bar> </app-menu-bar>

<app-banner-game> </app-banner-game>

<app-icons-xbox> </app-icons-xbox>

<div class="container__top">

  <div class="big_card">
    <app-big-card
      bigCardImg = "https://assets.xboxservices.com/assets/27/39/27399edd-ddee-4ccd-99a3-be22919bd38d.jpg?n=Elden-Ring_Large-tout-0_1083x1222_01.jpg"
      bigCardTitle = " Elder Ring "
    >
    </app-big-card>

    <app-small-card-left
      cardLeftTitle=" Diablo IV "
      cardLeftDescription=" Pré-encomende qualquer edição digital e tenha acesso antecipado ao Beta Aberto "
      cardLeftImage="https://assets.xboxservices.com/assets/64/57/64570578-ac29-42ba-9bd2-e5103a4e236c.jpg?n=Diablo-IV_Small-tout-1084_475x534.jpg"
    >
    </app-small-card-left>

    <app-small-card
      gameTitle="STAR WARS Jedi: Survivor™"
      gameDescription=" Lute Contra a Escuridão"
      gameImage="https://image.api.playstation.com/vulcan/ap/rnd/202012/1013/DKYIpVhskEQ4jbzr1PVxsO0Z.png"
    >
    </app-small-card>
  </div>

  <div class="small-card">
    <app-small-card
      gameTitle="Descubra seu proximo jogo favorito"
      gameDescription=" Jogue centenas de jogos de alta qualidade com amigos no console, no PC, em telefones e em tablets. "
      gameImage="https://assets.xboxservices.com/assets/4d/99/4d9918f2-950d-4d90-83c3-e6e9bc429e35.jpg?n=XGP-2022_Small-tout-1084_08-11-22_475x534.jpg"
    >
    </app-small-card>

    <app-big-card
      bigCardImg = "https://assets.xboxservices.com/assets/91/7b/917b4b9a-32be-407a-be6f-1943291a0cc8.jpg?n=Marvels-Midnight-Suns_Large-tout-0_1083x1222_03.jpg"
      bigCardTitle = " Marvel’s Midnight Suns "
    >
    </app-big-card>

    <app-small-card
      gameTitle="A Riot Games agora está no Game Pass"
      gameDescription=" Jogue títulos lendários da Riot Games com benefícios premium para membros do Game Pass. "
      gameImage="https://assets.xboxservices.com/assets/86/8e/868e3a27-f0cc-449c-b28b-a8538e99645a.jpg?n=Riot-Games_Small-tout-1084_475x534.jpg"
    >
    </app-small-card>
  </div>
</div>


<app-banner-line> </app-banner-line>


<div class="container__top">
  <div class="small-card">

    <app-small-card-left
    cardLeftTitle = " Monster Hunter Rise "
    cardLeftDescription = " Enfrente o desafio e junte-se à caça "
    cardLeftImage = "https://assets.xboxservices.com/assets/3d/84/3d84fd4b-51f0-4808-903f-b2085d1bc821.jpg?n=75295231_Small-tout-1084_475x534.jpg"
    >
    </app-small-card-left>

    <app-small-card
      gameTitle = " Street Fighter 6 "
      gameDescription = " Seu momento. Sua luta. "
      gameImage = "https://assets.xboxservices.com/assets/ca/0b/ca0bece3-b65c-464e-93c6-b9eb0d79846d.jpg?n=543216_Small-tout-1084_475x534.jpg%202"
    >
    </app-small-card>
  </div>

  <div class="small-card">
    <app-small-card-left
      cardLeftTitle = " CRISIS CORE - FINAL FANTASY VII - REUNION "
      cardLeftDescription = " Jogue como o agente Zack Fair dos SOLDIER nos eventos que antecederam o FFVII "
      cardLeftImage = "https://assets.xboxservices.com/assets/37/7f/377fccf8-dc98-442c-b4d4-1097e919fa84.jpg?n=Final-Fantasy-VII-Crisis-Core_Small-tout-1084_475x534.jpg"
      >
      </app-small-card-left>

    <app-small-card
      gameTitle = "Minecraft"
      gameDescription = " Adquira o jogo mais conteúdo bônus com o Minecraft: Deluxe Collection "
      gameImage = "https://assets.xboxservices.com/assets/e0/8b/e08b83d5-3571-4705-89da-cd58dbff3c9d.jpg?n=Minecraft_Small-tout-1084_Deluxe-Edition_475x534_01.jpg"
      >
      </app-small-card>
  </div>
</div>

<app-footer> </app-footer>





